; All the values enclosed in sharp parentheses, mostly credentials, should be
; replaced with your real data.

[MQTTbroker]
; Userdata for MQTT callback functions
;userdata = dummy
; Hardcoded default - the hostname
clientid = <mqtt_clientid>
; Hardcoded default - localhost
host = localhost
; Hardcoded default - 1883
port = 1883
; Registered user for logging to MQTT broker
username = <mqtt_username>
; Password of MQTT registered user
password = <mqtt_password>
