; All the values enclosed in sharp parentheses, mostly credentials, should be
; replaced with your real data.

[MQTTbroker]
; Userdata for MQTT callback functions
;userdata = dummy
; Hardcoded default - the hostname
clientid = <mqtt_clientid>
; Hardcoded default - localhost
host = localhost
; Hardcoded default - 1883
port = 1883
; Registered user for logging to MQTT broker
username = <mqtt_username>
; Password of MQTT registered user
password = <mqtt_password>

[ThingSpeak]
; Hardcoded default mqtt.thingspeak.com
host = mqtt.thingspeak.com
; Hardcoded default 1883
port = 1883
; Parameters without hardcoded default value
mqtt_api_key = <mqtt_api_key>
; Channel
channel_id = <channel_id>
write_api_key = <write_api_key>

[Blynk]
blynk_api_key = <blynk_auth>